// src/components/styles/PassportCards.module.scss

h2{

    text-align: center;
}
.cardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .card {
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    border-radius: 8px;
    width: 200px;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .active {
    background-color: #4caf50; // Verde
  }
  
  .inactive {
    background-color: #f44336; // Rojo
  }
  