.headerAdmin{
    display: flex;
    justify-content: space-between;
    h1{
        transform: translateX(100%);


    }
    a{

        text-decoration: none;
        color: blue;
    }
}
.buttonPassport{

button{

    background-color: green;
    width: auto;
}

}